/* reset */

* {
    margin: 0;
}

/*content styling*/

main {
    background-color: #D5E1EF;
    display: grid;
    place-content: center;
    text-align: center;
    align-self: center;
    height: 100vh;
    font-family: "Outfit";
    font-size: 15px;
    color: hsl(220, 15%, 55%)
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}

.container {
    max-height: 80vh;
    max-width: 320px;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    place-self: center;
    font-family: "Outfit";
}

.qrcode {
    margin: 1rem;
    border-radius: 1.5rem;
    overflow: hidden;
    max-width: 100%;
    display: flex;
}

img {
    max-width: 100%;
}

.content {
    margin: 2rem;
    margin-bottom: 2.5rem;
    display: grid;
    gap: 1rem;
}

.attribution {
    display: none;
}