/* reset */

* {
    margin: 0;
}

/*content styling*/

body {
    background-color: #D5E1EF;
    display: grid;
    place-content: center;
    text-align: center;
    align-self: center;
    height: 100vh;
    font-family: "Outfit";
}

.container {
    max-height: 80vh;
    max-width: 350px;
    background-color: #FFFFFF;
    border-radius: 5%;
    color: #2B374D;
    place-self: center;
    font-family: "Outfit";
}

.qrcode {
    margin: 15px;
    border-radius: 5%;
    overflow: hidden;
    max-width: 100%;
}

img {
    max-width: 100%;
}